* {
   box-sizing: border-box;
}
@font-face {
   font-family: "Gotham Pro";
   src: url("../fonts/GothamPro-Light.woff");
   font-weight: 300;
   font-style: normal;
}
body {
   font-family: "Gotham Pro";
   font-weight: 300;
   font-size: 14px;
}
.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
.header-wrapper {
   padding-top: 30px;
   background: url(../images/bg.jpg) no-repeat top center / cover;
   min-height: 976px;
   height: 100%;
}
.header__image img {
   width: 100%;
}
.header__inner {
   display: flex;
   justify-content: flex-end;
}
.header-body {
   text-align: center;
   max-width: 320px;
   width: 100%;

   background: rgb(68, 68, 68, 0.7);
   border-radius: 12px;
}
.header-body__title {
   padding: 50px 0;
   text-transform: uppercase;
   font-size: 50px;
   color: #ffffff;
}
.header-body__item {
   margin-bottom: 19px;
}
.header-body__item:last-child {
   margin-bottom: 0;
}
.header-body__item img {
   max-width: 300px;
}

@media (max-width: 500px) {
   .header__inner {
      justify-content: center;
   }
   .header-body__title {
      font-size: 30px;
      padding: 20px 0;
   }
   .header-body__item img {
      max-width: 200px;
   }
}
